<div class="row">
<h1>Acerca</h1>


VISIÓN<br>
<br>
Constituirse en referencia de capacitación a nivel regional y nacional por su alto nivel de efectividad, ética y confianza, así como por el uso de avanzadas técnicas educativas y tecnológicas, teniendo como base la comunicación franca con nuestros clientes, logrando con todo ello un nivel más competitivo, alcanzando y manteniendo un liderazgo en el mercado.<br>
<br>
MISIÓN<br>
<br>
El compromiso central de Preparate.com.ve es desarrollar y comercializar actividades y herramientas de capacitación que superen las expectativas de nuestros clientes, generando valor para los directivos, beneficio a todos nuestros trabajadores y logrando una justa relación con nuestros socios comerciales.<br>
 

VALORES<br>
<br>
-     Responsabilidad<br>
<br>
Ofrecer cursos útiles y de alta calidad, con instructores capacitados y capaces de satisfacer las necesidades de conocimiento de los participantes.<br>
<br>
-     Innovación<br>
<br>
Innovar constantemente el repertorio de cursos incursionando en nuevas áreas, así como de ofrecer nuevas y mejores técnicas de enseñanza que faciliten el aprendizaje de los participantes.<br>
<br>
-     Pro actividad<br>
<br>
Promover a toda la organización el espíritu proactivo así como el uso de las nuevas tecnologías disponibles en el mercado con el fin de mejorar la capacitación  de  los participantes.<br>
-     Constancia<br>
<br>
Ofrecer actividades académicas que permitan la capacitación continua de los participantes ofreciendo cursos que desarrollen o amplíen los conocimientos adquiridos en actividades previas.<br>
<br>
-     Persistencia<br>
<br>
Desarrollar técnicas que permitan conservar y aumentar el empuje inicial así como un seguimiento de las actividades de la organización, con el fin de mantenerlas enfocadas en la visión organizacional.<br>
<br>
-     Compromiso<br>
<br>
Cumplir con el trabajo atendiendo el compromiso moral, social y ético adquirido.<br>


</div>